.main-header{
    background-color: black;
    display:flex;
    height: 50px;
    width: 100%;   
}
.row{
    color:white;
    margin-left: 80px;
    padding-top: 15px; 
    

}
.heading{
    color:white;
    margin-left: 150px;
    padding-top: 15px;
}
.na{
    color:white;
    text-decoration: none;
}